@import url(color.css);

.container{
    max-width: 1390px;
    margin: 0 auto;
}
.vetor-e-titulo{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    max-width: 1190px;
    margin: 0 auto;
    padding: 10px 0;
}

.vetor-e-titulo .fa-solid.fa-square-parking {
    font-size: 24px; /* Altere o tamanho conforme desejado */
}
.conquista-e-recompensas h1{
    font-size: 34px;
    
}

.seus-pontos{
    width: 100%;
    max-width: 1190px;
    margin: 0 auto;
    padding: 20px 0;
}


.conquistas{
    width: 100%;
    max-width: 1190px;
    margin: 0 auto;
    display: flex;  
    justify-content: center;
    align-items: center;
    gap:20px
    
}


.titulo-missao-recompensa,
.missao p{
    font-size: 24px;
}

.titulo-conquista{
    width: 100%;
    max-width: 237px;
    line-height: 1;
    font-size: 1.5rem;
}

.carrossel-conquista{
    max-width: 75%;
    width: 100%;
    margin-left: 19px;
}
/*FUNCIONALIDADE CARROSSEL*/
.carrossel-conquista ul{
    padding: 10px;
    margin: 0;
    width: 100%;
}

.carrossel-conquista li {
    scroll-snap-align: start; 
    margin: 0 15px;
}



.carrossel-conquista .slick-prev {
    left: 0px;
    z-index: 2;
}

.carrossel-conquista .slick-next {
    right: 0px;
} 
.slick-prev::before, .slick-next::before{
color: #000 !important;
opacity: 100  !important;
background-image: url("https://imgur.com/a/8Eq12cL") !important ;
font-size: 35px !important;
}
.slick-track{
    height: 220px;
    padding-top: 10px;
}

/*ESTILIZAÇÃO DO CARD */
.carrossel-conquista ul .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 3px 2px #999999);
    font-size: 16px;  
}

.carrossel-conquista .item img{
    margin: 14px 0 19px 0;
    height: auto; 
}
/*ESTILIZAÇÃO MISSÕES*/
.missoes-e-recompensas{
    margin-top: 71px;
    display: flex;
    flex-direction: column;
    gap: 82px;
    max-width: 1196px;

}
.titulo-missao-recompensa{
    margin-left: 85px;
}
.missoes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 64px;
    padding: 0 0 76px 88px;

}
.missoes .missao{
    display: flex;
    justify-content:space-between;
}
.imagem-pontuacao{
    display:flex;
    align-items: center;
    gap: 29px;
}
.missao img{
    width: 48px;
} 
/* Desktop */


/* Mobile */
@media screen and (max-width: 768px) {
    .conquistas{
        flex-direction: column;
        padding-left: 31px;
    }
    .carrossel-conquista ul{
        padding: 0; 
        margin: 0; 
        width: 500px;
    }
}