
.titulo-ranking{
    padding: 40px 0 0 88px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.titulo-ranking h1{
    font-size: 34px;
    margin-left: 7px;
}
.perfil-usuario{
    padding: 58px 127px 0 67px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.perfil-usuario .imagem-e-nome{
    display: flex;
    align-items: center;
}
.perfil-usuario .nome-usuario{
    display: flex;
    flex-direction: column ;
    margin-left: 67px;
    gap: 39px;
    font-size: 24px;
}

.perfil-usuario .circulo-usuario {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 3px 2px #999999);
}
.perfil-usuario .pontuacao{
    font-size: 24px; 
    text-align: center;
    width: 10%;
    line-height: 1.5; 

}
.ranking{
    display: flex;
    margin-top: 111px;
    padding: 0 67px 77px 90px;
    gap: 20px;
    flex-direction: column;
}
.ranking .usuario{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 3px 2px #999999);
    height: 80px;
    font-size: 16px;
    border-radius: 5px;
    padding: 0 60px 0 19px;

}
.usuario .trofeu-e-nome{
    display: flex;
    align-items: center;
    gap: 51px;
}

.usuario .trofeu-e-nome img{
    width: 48px;
}


