 @media screen and (max-width: 1300px){
    .login{
        padding-left: 0; 
        padding-right: 10%; 

    }
   .cadastro{
        padding-left: 10%; 
        padding-right: 0; 
        }      
}
@media screen and (max-width: 1150px){

    form input, .container_main button{

        width: 400px;
    }
    .login{
        padding-left: 0; 
        padding-right: 5%; 

    }
   .cadastro{
        padding-left: 5%; 
        padding-right: 0; 
        }      
}

@media screen and (max-width: 980px){
    .login{
        padding-left: 0; 
        padding-right: 2%; 

    }
   .cadastro{
        padding-left: 2%; 
        padding-right: 0; 
        }   
        form input, .container_main button{
            width: 350px;
    }
}

@media screen and (max-width: 925px){

    form input, .container_main button{
        width: 300px;
    }
    .login p,
    .cadastro p {
       font-size: 20px;
        width: 350px;
    }
}

@media screen and (max-width: 768px){
    .content{
        flex-direction: column;
    }
    form input, .container_main button{
        width: 450px;
    }

    .login, .cadastro{
        padding: 0; 
    }

    .login p,
    .cadastro p {
    width: 442px;
    font-size: 24px;
    }

    .cadastro h1{
    margin-top: 40px;
    }
    .login button{
    margin-bottom: 40px;
    }
}

@media screen and (max-width: 520px){
    form input, .container_main button{
        width: 400px;
    }
}

@media screen and (max-width: 450px){
    form input, .container_main button{
        width: 350px;
    }
    .login p,
    .cadastro p {
    width: 350px;
    font-size: 20px;
    }
}
@media screen and (max-width: 370px){
    form input, .container_main button{
        width: 300px;
    }
    /* .login p,
    .cadastro p {
    width: 350px;
    font-size: 20px;
    } */
}