/* @media screen and (max-width: 1024px) {
    .carrossel-conquista ul{
        padding: 0; 
        margin: 0; 
        width: 700px;
    }
    .carrossel-conquista li {
        margin-right: 0px;
        scroll-snap-align: start; 
    }
 .conquistas{
    padding-left: 0px;
 }
} */

@media screen and (max-width: 768px) {
    .conquistas{
        flex-direction: column;
        padding-left: 31px;
    }
    .carrossel-conquista ul{
        padding: 0; 
        margin: 0; 
        width: 500px;
    }
    /* .carrossel-conquista ul{
        padding: 0; 
        margin: 0; 
        width: 700px;
    } */


}