<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Palavra | Recompensas e Conquistas</title>
    <!-- CSS -->
    <link rel="stylesheet" href="./css/conquistas.css" />
    <link rel="icon" href="./img/logo/Logo - Wordle Vetor.png" />
    <!-- JS -->
    <script
      src="https://kit.fontawesome.com/026675cdf7.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav class="header-nav">
        <ul class="header-elementos">
          <li class="header-menu"><i class="fa-solid fa-bars"></i></li>
          <div class="header-como-jogar"><i class="fa-solid fa-circle-question"></i></div>
        </ul>
        <div class="header-logo">
          <h1>PALAVRA</h1>
        </div>
        <ul class="header-elementos">
            <li class="hader-pontos"><a href="#"></a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="main-container"></div>
    </main>
    <footer></footer>
  </body>
</html>
