@import url(colors.css);
.header__logo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 400px);
}

.header{
    display: flex;
    align-items: center;
    padding: 17px 0; 
    margin-bottom: 55px;
    width: 100%;
    box-shadow: 1px 1px 15px #d5d5d5;
    text-align: center;
}

.header__logo a span{
    justify-content: center;
    font-size: 34px;
    color: var(--cor-primaria);
    line-height: 30px;
}

.header__button{
    margin-left: auto;

}

.navbar-brand {
    text-align: center;
    width: 56%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 34px;
    color: var(--cor-primaria);
}

.header button{
    margin-right: 40px ;
    width: 200px;
    height: 50px;
    background-color: var(--cor-botao-jogar);
    color: #FFFFFF;
    border-radius: 20px;
    font-size: 18px;
    margin-left: auto;
}

main{
    min-height: 100vh;
}
.container_main{
    display: flex;
    max-width: 1390px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    background-color: rgba(153, 153, 153, 0.22);
    gap: 5px;
}

.login,.cadastro{
    background-color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding: 0 100px; 
    }    

.login h1,
.cadastro h1 {
    color: #000000;
    font-size: 34px;
    margin-bottom: 27px;
}

.login p,
.cadastro p {
    font-size: 24px;
    line-height: 1.2;
    color: var(--borda-campo-letra);
    opacity: 0.5;
    width: 442px;

}

.login form{
    margin-top: 52px;
}
.cadastro form{
    margin-top: 29px;
}
form input{
    width: 450px;
    height: 50px;
    background-color: #FFFFFF;
    padding: 10px 20px;

}


form input::placeholder {
    font-size: 24px;
    color: var(--borda-campo-letra);
    opacity: 0.22;

}
input, .container_main button{
    margin-bottom: 22px;
    border-radius: 5px;
    filter: drop-shadow(0px 3px 2px #999999);}

.container_main button{
    font-size: 24px;
    color: #FFFFFF; 
    width: 450px;
    height: 50px;
    cursor: pointer; 
    border-radius: 5px;
}
.login button{
    background-color: var(--cor-primaria); 
    margin-bottom: 80px;
}
.cadastro button {
    background-color: #FFD952; 
    margin-bottom: 69px;
}

/*RESPONSIVIDADE*/
@media screen and (max-width: 1300px){
    .login{
        padding-left: 0; 
        padding-right: 10%; 

    }
   .cadastro{
        padding-left: 10%; 
        padding-right: 0; 
        }      
}
@media screen and (max-width: 1150px){

    form input, .container_main button{

        width: 400px;
    }
    .login{
        padding-left: 0; 
        padding-right: 5%; 

    }
   .cadastro{
        padding-left: 5%; 
        padding-right: 0; 
        }      
}

@media screen and (max-width: 980px){
    .login{
        padding-left: 0; 
        padding-right: 2%; 

    }
   .cadastro{
        padding-left: 2%; 
        padding-right: 0; 
        }   
        form input, .container_main button{
            width: 350px;
    }
}

@media screen and (max-width: 925px){

    form input, .container_main button{
        width: 300px;
    }
    .login p,
    .cadastro p {
       font-size: 20px;
        width: 350px;
    }
}

@media screen and (max-width: 768px){
    .content{
        flex-direction: column;
    }
    form input, .container_main button{
        width: 450px;
    }

    .login, .cadastro{
        padding: 0; 
    }

    .login p,
    .cadastro p {
    width: 442px;
    font-size: 24px;
    }

    .cadastro h1{
    margin-top: 40px;
    }
    .login button{
    margin-bottom: 40px;
    }
}

@media screen and (max-width: 520px){
    form input, .container_main button{
        width: 400px;
    }
}

@media screen and (max-width: 450px){
    .navbar-brand {
        justify-content: flex-start;
    }
    .header button{
        width: 100px;
        height: 50px;
    }
    form input, .container_main button{
        width: 350px;
    }
    .login p,
    .cadastro p {
    width: 350px;
    font-size: 20px;
    }
}
@media screen and (max-width: 370px){
    form input, .container_main button{
        width: 300px;
    }
}