.title-pagina {
    font-size: 34px;
    margin: 50px 0 130px;
}

.configuracoes__container {
    display: flex;
    margin-bottom: 60px;
}

.configuracoes__sidebar-lateral {
    width: 100%;
    max-width: 350px;
    border-right: 5px solid rgba(153, 153, 153, 0.5);
    color: #fff;
    padding-top: 20px;
}

.configuracoes__sidebar-lateral ul {
    list-style-type: none;
    padding: 0;
}

.configuracoes__sidebar-lateral ul li {
    margin-bottom: 10px;
}

.configuracoes__sidebar-lateral .configuracoes__link-name {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 18px;
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
}
.configuracoes__sidebar-lateral .configuracoes__link-name.active {
    color: var(--cor-primaria);
}
.configuracoes__sidebar-lateral .configuracoes__link-name.link-delete {
    color: #E02130;
}

.configuracoes__sidebar-lateral .configuracoes__link-name svg {
    fill: #000;
}
.configuracoes__sidebar-lateral .configuracoes__link-name.active svg {
    fill: var(--cor-primaria);
}
.configuracoes__sidebar-lateral .configuracoes__link-name.link-delete svg {
    fill: #E02130;
}

.configuracoes__main-content {
    margin-left: 50px;
    padding: 20px;
    width: 100%;
}

.configuracoes__content  {
    display: none;
}

.active {
    display: block;
}

.configuracoes__imagem-perfil {
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 16px;
    margin-bottom: 22px;
}

.usuario__imagem.configuracoes {
    width: 100%;
    max-width: 100px;
    height: 100px;
    margin: 0;
}

.usuario__imagem.configuracoes img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.configuracoes__form-control {
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.configuracoes__form-control input{
    max-width: 650px;
    border-radius: 5px;
    padding: 0 32px;
    box-shadow: var(--borda-box-shadow);
    height: 50px;
}

.configuracoes__form-control input::placeholder{
    color: #999;
}

.configuracoes__select-pais {
    box-shadow: var(--borda-box-shadow);
    max-width: 190px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 0 32px;
}

.configuracoes__button {
    max-width: 250px;
    width: 100%;
    background-color: #FFD952;
    color: #fff;
    font-size: 16px;
    height: 50px;
    border-radius: 5px;
    box-shadow: var(--borda-box-shadow);
    line-height: 50px;
    justify-content: center;
}

@media (max-width: 1070px) {
    .title-pagina {
        margin: 30px 0;
    }

    .configuracoes__container {
        flex-direction: column;
    }

    .configuracoes__sidebar-lateral {
        border-right: 0;
        border-bottom: 2px solid #999;
    }
    
    .configuracoes__main-content {
        margin: 15px 0 0;
        padding: 10px;
    }
}