.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    padding: 0;
    z-index: 100;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header__content {
    padding: 15px !important;
    max-width: 1390px;
    width: 100%;
    margin: auto;
    align-items: center;
}

.header__left {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 24px;
}

.header__logo {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.header__logo a span {
    font-size: 34px;
    color: var(--cor-primaria);
    line-height: 30px;
}

.navbar-brand {
    justify-content: center;
    margin-right: 0;
}

.header__right {
    display: flex;
    flex-grow: 1;
    gap: 15px;
    align-items: center;
    justify-content: flex-end;
}

.header__right .navbar-item {
    display: flex;
    gap: 8px;
    align-items: center;
}

.text__navbar {
    font-size: 14px;
    color: #000;
    margin: 0;
    max-width: 114px;
}

.navbar-toggler {
    color: transparent;
    border: 0;
    padding: 0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2800, 0, 0, 1' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.offcanvas-header .btn-close {
    opacity: 1;
}

/* CANVAS */
.offcanvas-header, .offcanvas-body {
    padding: 20px;
}
.offcanvas {
    flex-grow: 0 !important;
}

@media (max-width: 992px) {
    .navbar-brand {
        justify-content: start;
    }

    .header__right {
        align-items: start;
    }

    .offcanvas-header {
        box-shadow: 1px 1px 15px #d5d5d5;
    }
}
