@import url('colors.css');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
    overflow: hidden;
}

.alerta {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.alerta-content {
    background-color: #fefefe;
    margin: 18% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 10px;
}

.container__pagina {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.bloco-palavras__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 90vh;
    margin-top: 10px;
    margin-left: 57.5vh;
}

.bloco-palavras__fila {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
    opacity: 0.6;
}

.bloco-palavras__fila input {
    color: var(--cor-fonte);
    font-family: "Bungee", sans-serif !important;
}

.bloco-palavras__letra {
    max-width: 70px;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--borda-campo-letra);
    box-shadow: var(--borda-box-shadow);
    font-size: 26px;
    cursor: default;
    padding-left: 25px;
    caret-color: transparent;
}

.bloco-palavras__letra:focus {
    outline: none;
}

.letras-palavra__certa {
    font-size: 24pt !important;
    background: #0CCABA;
    color: white !important;
}

.letras-palavra__errada {
    background: #f6ce3f;
    color: white !important;
}

.linha-destaque {
    background-color: #c9c4c489;
    transition: background-color 0.3s, border 0.3s;
}

@keyframes mudarBorda {
    0% {
        border-color: var(--borda-campo-letra);
    }
    50% {
        border-color: red;
    }
    100% {
        border-color: var(--borda-campo-letra);
    }
}

.borda-animada {
    border-width: 2px;
    border-style: solid;
    animation: mudarBorda 0.7s ease-in-out;
}

.usuario__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -15vh;
    margin-right: 20vh;
}

.usuario__info {
    display: flex;
    flex-direction: column;
    color: #000;
}

.usuario__nome {
    font-size: 20px;
    font-weight: bold;
    line-height: 6vh;
    text-align: center;
    max-width: 165px;
}

.usuario__info .usuario__pontos,
.usuario__info .usuario__escolha-tema {
    max-width: 180px;
    width: 180px;
    text-align: left;
}

.usuario__imagem {
    margin-right: 15px;
}

.foto-perfil {
    width: 165px;
    height: 165px;
    border-radius: 50%;
}

.usuario__info {
    text-align: left;
    color: #000;
}

.usuario__nome {
    font-size: 20px;
    font-weight: bold;
    line-height: 6vh;
}

.usuario__pontos {
    font-size: 16px;
}

.usuario__escolha-tema {
    margin-top: 10px;
}

.usuario__select-tema option {
    font-family: 'Bungee', sans-serif;
    font-size: 16px;
}

.usuario__escolha-tema select {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Bungee', sans-serif;
    appearance: none;
    -moz-appearance: none;
}

.usuario__escolha-tema {
    position: relative;
    display: inline-block;
}
