.titulo-popup {
    color: var(--cor-primaria);
    position: absolute;
    margin: 0 auto;
    left: 44.1%;
    top: 19.5%;
    font-size: 34px;
}

.botao-fechar {
    position: absolute;
    left: 69%;
    right: 7.08%;
    top: 19%;
    bottom: 93.79%;
    font-size: 25px;
}

.informacoes-popup {
    margin-top: 10%;
}

p .letras-popup__certa {
    color: yellow;
    /* display: inline-block;
    padding: 5px 10px;
    background-color: #ffcc00;
    border-radius: 5px;
    color: #ffffff; 
    font-size: 24px;
    font-weight: bold; */
}

.bloco-palavras__container {
    max-width: 452px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 40px;
    /* width: 100%; */
}   

.bloco-palavras__fila {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 13px;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
    opacity: 0.6;
}
.bloco-palavras__fila.active .bloco-palavras__letra {
    cursor: pointer;
}
.bloco-palavras__fila.active, .bloco-palavras__fila.completed {
    opacity: 1;
}


.bloco-palavras__letra {
    max-width: 80px;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--borda-campo-letra);
    box-shadow: var(--borda-box-shadow);
    font-size: 26px;
    cursor: default;
    padding-left: 30px;
    caret-color: transparent;
}

.bloco-palavras__letra.active {
    border-bottom: 8px solid var(--cor-bordas-gerais);
}

.bloco-palavras__letra input {
    cursor: not-allowed;
}

.container__pagina {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 15px;
    max-width: 1350px;
    margin: 0 auto
}

.usuario__container {
    max-width: 250px;
    position: absolute;
    right: 4%;
    top: 230px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usuario__imagem {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: var(--borda-box-shadow);
}

.usuario__imagem .foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.usuario__nome, .usuario__pontos {
    font-size: 20px;
    margin-bottom: 12px;
}

.usuario__escolha-tema {
    margin-top: 30px;
}

.label__escolha-tema {
    font-size: 18px;
}

.usuario__select-tema {
    width: 240px;
    height: 50px;
    box-shadow: var(--borda-box-shadow);
    border-radius: 5px;
    padding-left: 15px;
    font-size: 20px;
}

.teclado__container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: center;
    margin-bottom: 70px;
}

.teclado__content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 12px;
    justify-content: center;
}

.teclado__tecla {
    background-color: var(--cor-teclado);
    max-width: 60px;
    width: 100%;
    height: 80px;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: var(--borda-box-shadow);
    color: var(--cor-letra-teclado);
}

.login-error {
    color: red;
}

@media (max-width: 1070px) {
    .usuario__container {
        position: relative;
        top: unset;
        right: unset;
        max-width: none;
    }
}

@media (max-width: 450px) {
    .teclado__tecla {
        max-width: 40px;
    }
}