@import url('colors.css');
@import url('footer.css');
@import url('header.css');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

i {
    font-size: 25px;
    color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 18px;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dd, dt, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    
}

img, iframe {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

input, button, textarea, select {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font: inherit;
}

.d-hidden {
    display: none;
}

.m-hidden {
    display: flex;
}

@media (max-width: 992px) {
    .d-hidden {
        display: flex;
    }

    .m-hidden {
        display: none !important;
    }
}

body {
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    line-height: 1;
    display: flex;
    flex-direction: column;
}