{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
    src="https://kit.fontawesome.com/026675cdf7.js"
    crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsivo_cadastro.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="icon" href="{% static 'img/logo/Logo - Wordle Vetor.png' %}" />
    <title>Login e Cadastro</title>
</head>
<body>
    <nav class="header">
        <a href="{% url 'index' %}" class="navbar-brand">
            Palavra
        </a>
        <div class="header__button">
            <a href="{% url 'jogo' %}"class="pagina__botao-jogar">Jogar</a>
        </div>
    </nav>
    <main>
        <div class="container_main">
            <div class="content">
                <div class="login">
                    <h1>entre</h1>
                    <p>Que bom vê-lo(a) novamente!
                        entre e bora adivinhar uma
                        palavrinha</p>
                    {% block content %}
                    <form action="{% url 'jogo' %}" method="post">
                        {% csrf_token %}
                        {{ formulario }}
                        <input type="email" name="email" id="email" placeholder="E-mail"><br>
                        {% comment %} {{formulario.as_p}} {% endcomment %}
                        <input type="password" name="senha" id="senha" placeholder="senha"><br>
                        <button type="submit">Entre</button>
                    </form>
                    {% endblock content %}
                </div>
                <div class="cadastro">
                    <h1>cadastra-se</h1>
                    <p class="subtitulo">Não tem uma conta ainda? cadastra-se!</p>
                    <form action="" method="post">
                        <input type="text" name="nome" id="nome" placeholder="Nome"><br>
                        <input type="email" name="email" id="email" placeholder="E-mail"><br>
                        <input type="password" name="senha" id="senha" placeholder="senha"><br>
                        <button type="submit">cadastra-se</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <div class="footer">
        <div class="footer__content">
            <div class="footer__text">
                <p>Palavra - projeto de engenharia de software - inspirado no jogo <a href="https://www.nytimes.com/games/wordle/index.html"  target="_blank">wordle</a></p>
            </div>
        </div>
    </div>

</body>
</html>
        