{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/026675cdf7.js"
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsivo_cadastro.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="icon" href="{% static 'img/logo/Logo - Wordle Vetor.png' %}" />
    <title>Cadastro</title>
</head>
<body>
    <nav class="header">
        <a href="{% url 'index' %}" class="navbar-brand">
            Palavra
        </a>
        <div class="header__button">
            <a href="{% url 'jogo' %}"class="pagina__botao-jogar">Jogar</a>
        </div>
    </nav>
    <main>
        <div class="container_main">
            <div class="content">
                <div class="cadastro">
                    <h1>Cadastre-se</h1>
                    <p class="subtitulo">Não tem uma conta ainda? Cadastre-se!</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="cadastro-inputs">
                            {{ form.username }}
                        </div>
                        <div class="cadastro-inputs">
                            {{ form.email }}
                        </div>
                        <div class="cadastro-inputs">
                            {{ form.password1 }}
                        </div>
                        <div class="cadastro-inputs">
                            {{ form.password2 }}
                        </div>
                        <button type="submit">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
    </main>    

    <!-- FOOTER -->
    {% include "footer.html" %}

</body>
</html>
        