{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/026675cdf7.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/configuracoes.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

    <title>Palavra</title>
    <link rel="icon" href="{% static 'img/assets/Logo - Wordle Vetor.png' %}" />
</head>

<body>
    <!-- HEADER -->
    {% include "header.html" %}

    <main>
        <!-- USUARIO JOGANDO -->
        <div class="container">
            <!-- CONFIGURACOES -->
            <h1 class="title-pagina">
                <i class="fa-solid fa-gear" aria-hidden="true"></i>
                Configurações
            </h1>

            <div class="configuracoes__container">
                <div class="configuracoes__sidebar-lateral">
                    <ul>
                        <li>
                            <a href="#" onclick="showContent('content1', this)" class="configuracoes__link-name active">
                                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.74365 8.64502L3.10303 15.2856C2.64404 15.7446 1.90186 15.7446 1.44775 15.2856L0.344238 14.1821C-0.114746 13.7231 -0.114746 12.981 0.344238 12.5269L5.05127 7.81983L0.344238 3.11279C-0.114746 2.65381 -0.114746 1.91162 0.344238 1.45752L1.44287 0.344238C1.90186 -0.114746 2.64404 -0.114746 3.09814 0.344238L9.73877 6.98486C10.2026 7.44385 10.2026 8.18604 9.74365 8.64502ZM19.1187 6.98486L12.478 0.344238C12.019 -0.114746 11.2769 -0.114746 10.8228 0.344238L9.71924 1.44775C9.26025 1.90674 9.26025 2.64893 9.71924 3.10303L14.4263 7.81006L9.71924 12.5171C9.26025 12.9761 9.26025 13.7183 9.71924 14.1724L10.8228 15.2759C11.2817 15.7349 12.0239 15.7349 12.478 15.2759L19.1187 8.63525C19.5776 8.18604 19.5776 7.44385 19.1187 6.98486Z"/>
                                </svg>
                                Perfil
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="showContent('content2', this)" class="configuracoes__link-name">
                                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.74365 8.64502L3.10303 15.2856C2.64404 15.7446 1.90186 15.7446 1.44775 15.2856L0.344238 14.1821C-0.114746 13.7231 -0.114746 12.981 0.344238 12.5269L5.05127 7.81983L0.344238 3.11279C-0.114746 2.65381 -0.114746 1.91162 0.344238 1.45752L1.44287 0.344238C1.90186 -0.114746 2.64404 -0.114746 3.09814 0.344238L9.73877 6.98486C10.2026 7.44385 10.2026 8.18604 9.74365 8.64502ZM19.1187 6.98486L12.478 0.344238C12.019 -0.114746 11.2769 -0.114746 10.8228 0.344238L9.71924 1.44775C9.26025 1.90674 9.26025 2.64893 9.71924 3.10303L14.4263 7.81006L9.71924 12.5171C9.26025 12.9761 9.26025 13.7183 9.71924 14.1724L10.8228 15.2759C11.2817 15.7349 12.0239 15.7349 12.478 15.2759L19.1187 8.63525C19.5776 8.18604 19.5776 7.44385 19.1187 6.98486Z"/>
                                </svg>
                                Jogabilidade
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="showContent('content4', this)" class="configuracoes__link-name link-delete">
                                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.74365 8.64502L3.10303 15.2856C2.64404 15.7446 1.90186 15.7446 1.44775 15.2856L0.344238 14.1821C-0.114746 13.7231 -0.114746 12.981 0.344238 12.5269L5.05127 7.81983L0.344238 3.11279C-0.114746 2.65381 -0.114746 1.91162 0.344238 1.45752L1.44287 0.344238C1.90186 -0.114746 2.64404 -0.114746 3.09814 0.344238L9.73877 6.98486C10.2026 7.44385 10.2026 8.18604 9.74365 8.64502ZM19.1187 6.98486L12.478 0.344238C12.019 -0.114746 11.2769 -0.114746 10.8228 0.344238L9.71924 1.44775C9.26025 1.90674 9.26025 2.64893 9.71924 3.10303L14.4263 7.81006L9.71924 12.5171C9.26025 12.9761 9.26025 13.7183 9.71924 14.1724L10.8228 15.2759C11.2817 15.7349 12.0239 15.7349 12.478 15.2759L19.1187 8.63525C19.5776 8.18604 19.5776 7.44385 19.1187 6.98486Z"/>
                                </svg>
                                Deletar conta
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="configuracoes__main-content">
                    <div id="content1" class="configuracoes__content active">
                        <div class="configuracoes__perfil">
                            <div class="configuracoes__form-control">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
            
                                    <div class="form-group">
                                        {% if user_info and user_info.foto_perfil %}
                                            <div class="usuario__imagem">
                                                <img src="{{ user_info.foto_perfil.url }}" alt="Foto de Perfil" class="foto-perfil">
                                            </div>
                                        {% else %}
                                            <label for="id_foto_perfil">Foto de Perfil</label>
                                            <div class="circulo-usuario">
                                                <img src="{% static 'img/assets/icon-user.png' %}" alt="Imagem não disponível">
                                            </div>
                                        {% endif %}
                                        {{ form.foto_perfil }}   
                                        <button type="button" class="btn btn-danger mt-2" onclick="document.getElementById('id_foto_perfil').value = ''; document.querySelector('.configuracoes__imagem-perfil img').src = '{% static 'img/assets/icon-user.png' %}';">Limpar</button>
                                    </div>
                                    <br><br>
                                    <div class="form-group">
                                        <label for="id_username">Nome de Usuário</label>
                                        {{ form.username }}
                                    </div>
                                    <br><br>
                                    <div class="form-group">
                                        <label for="id_email">E-mail</label>
                                        {{ form.email }}
                                    </div>
                                    <br><br>
                                    <div class="form-group">
                                        <label for="id_password1">Senha</label>
                                        {{ form.password1 }}
                                    </div>
                                    <br><br>
                                    {% comment %} <input type="text" name="username" placeholder="NOME">
                                    <input type="email" name="email" placeholder="EMAIL">
                                    <input type="password" name="password" placeholder="SENHA"> {% endcomment %}
                                    <button type="submit">Salvar Alterações</button>

                                    {% comment %} <a href="#" class="configuracoes__button">
                                        Atualizar
                                    </a> {% endcomment %}
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="content2" class="configuracoes__content">
                        Conteúdo 2 aqui
                    </div>

                    <div id="content3" class="configuracoes__content">
                        Conteúdo 3 aqui
                    </div>

                    <div id="content4" class="configuracoes__content">
                        Conteúdo 3 aqui
                    </div>
                </div>
            </div>

        </div>
    </main>
    <!-- FOOTER -->
    {% include "footer.html" %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script src="{% static 'js/jogo.js' %}"></script>
    {% comment %} <script>
        // Optional: Add JavaScript to handle image preview and clear functionality
        document.getElementById('id_foto_perfil').addEventListener('change', function(event) {
            const [file] = this.files;
            if (file) {
                const img = this.previousElementSibling.querySelector('img');
                img.src = URL.createObjectURL(file);
                img.style.display = 'block';
            }
        });
    </script> {% endcomment %}
</body>

</html>