{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/026675cdf7.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/jogo.css' %}">
    <link rel="stylesheet" href="{% static 'css/popup.css' %}">
    <link rel="icon" href="{% static 'img/assets/Logo - Wordle Vetor.png' %}" />

    <title>Palavra</title>
</head>
<body>
    
    <!-- POPUP -->
    <div class="container-layout">
        <div id="container-popup" class="container-popup">
            <div class="header-popup">
                <span class="titulo-popup">PALAVRA</span>
                <span class="botao-fechar-popup" id="fechar-popup">&times;</span>
            </div>
            <div class="informacoes-popup">
                <p>Como jogar?</p>&nbsp;
                <p>Descubra as palavras certas. Depois de cada tentativa, as peças mostram o quão perto você está da solução.</p>&nbsp;
                <p>A letra <span class="quadrado letra-certa">&nbsp;T&nbsp;</span> faz parte da palavra e está na posição correta.</p>&nbsp;
                <p>A letra <span class="quadrado letra-errada">&nbsp;R&nbsp;</span> faz parte da palavra mas em outra posição.</p>&nbsp;
                <p>A letra <span class="quadrado letra-nao-tem">&nbsp;M&nbsp;</span> não faz parte da palavra.</p>&nbsp;
                <p>Descubra as palavras certas. Depois de cada tentativa, as peças mostram o quão perto você está da solução.</p>&nbsp;
                <p>Os acentos são preenchidos automaticamente e não são considerados nas dicas.</p>&nbsp;
                <p>As palavras podem possuir letras repetidas.</p>&nbsp;
                <p>Uma palavra nova aparece a cada dia.</p>&nbsp;
            </div>            
        </div>
    </div>

    <!-- ALERTA -->
    <div id="alerta" class="alerta">
        <div class="alerta-content">
            <h4 id="tituloAlerta"></h4><br>
            <p id="mensagemAlerta"></p><br>
            <button id="botaoConfirmaAlerta">OK</button>
        </div>
    </div>

    <!-- HEADER -->
    {% include "header.html" %}
    
    <!-- USUARIO JOGANDO -->
    <div class="container__pagina">
        
        <!-- PALAVRAS -->
        <div class="bloco-palavras__container">
            <form id="palavra" method="post">
                {% csrf_token %}
                {% for line in "123456" %}
                    <div class="bloco-palavras__fila">
                        {% for i in "12345" %}
                            <input type="text" class="bloco-palavras__letra" id="letra{{ forloop.parentloop.counter0 }}{{ forloop.counter }}" maxlength="1" autocomplete="off">
                        {% endfor %}
                    </div>
                {% endfor %}
            </form>
        </div>
    
        <!-- USUÁRIO -->
        <div class="usuario__container">
            <div class="usuario__imagem">
                {% if foto_perfil %}
                    <img src="{{ foto_perfil.url }}" alt="Foto de Perfil" class="foto-perfil">
                {% else %}
                    <img src="{% static 'img/assets/icon-user.png' %}" alt="Imagem não disponível">
                {% endif %}
            </div>
    
            <div class="usuario__info">
                <div class="usuario__nome">{{ nome }}</div>
                <div class="usuario__pontos">
                    Pontos: <span id="qtde-pontos">{{ user.pontuacao_total }}</span> ponto(s)
                </div>
                <div class="usuario__escolha-tema">
                    <span class="label__escolha-tema">Tema:</span>
                    <select name="select-tema" class="usuario__select-tema">
                        {% for tema in temas %}
                            <option value="{{ tema.descricao|lower }}">{{ tema.descricao }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>    

    <!-- FOOTER -->
    {% include "footer.html" %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>

    <script src="{% static 'js/jogo.js' %}"></script>
    <script src="{% static 'js/popup.js' %}"></script>

</body>
</html>
