{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/026675cdf7.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login-cadastro.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
        <link rel="icon" href="{% static 'img/logo/Logo - Wordle Vetor.png' %}">
        <title>Login</title>
    </head>
    <body>
        <nav class="header">
            <a href="{% url 'index' %}" class="navbar-brand">Palavra</a>
        </nav>

        <main>
            <div class="container_main">
                <div class="content">
                    <div class="login">
                        <h1>entre</h1>
                        <p>Que bom vê-lo(a) novamente! entre e bora adivinhar uma palavrinha</p><br>
                        <form method="post" class="form-control">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="pagina__botao">Entrar</button>
                        </form>
                        {% if error %}
                            <p class="login-error" id="login-error">{{ error }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </main>

        {% include "footer.html" %}
    </body>
</html>
