@import url(color.css);

.header {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 999;
    box-shadow: 1px 1px 15px #d5d5d5
}

.header__content {
    padding: 20px !important;
    max-width: 1390px;
    width: 100%;
    margin: auto;
    align-items: center;
}

.header__left {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 24px;
}

.header__logo {
    flex-grow: 1;
}

.header__logo a span{
    font-size: 34px;
    color: var(--cor-primaria);
    line-height: 30px;
}

.navbar-brand {
    justify-content: center;
    margin-right: 0;
}

.header__right {
    display: flex;
    flex-grow: 1;
    gap: 15px;
    align-items: center;
    justify-content: flex-end;
}

.header__right .navbar-item{
    display: flex;
    gap: 8px;
    align-items: center;
}

.text__navbar {
    font-size: 14px;
    color: #000;
    margin: 0;
    max-width: 114px;
}

.navbar-toggler {
    color: transparent;
    border: 0;
}

/* CANVAS */
.offcanvas-header, .offcanvas-body {
    padding: 20px;
}
.offcanvas {
    flex-grow: 0 !important;
}

@media (max-width: 992px) {
    .navbar-brand {
        justify-content: start;
    }

    .header__right {
        align-items: start;
    }

    .offcanvas-header{
        box-shadow: 1px 1px 15px #d5d5d5
    }
}